/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

* {
    font-size:.3em;
}

#navigation {
    background-color:rgba(0, 0, 0, 0.555);
    color:rgb(94, 125, 172);
    padding:1em;
    text-align:left;
    width:fit-content;
}

#navigation a {
    background-color:rgb(255, 255, 255);
    border: 1px solid #000000;
    color: #000000;
    font-weight: 450;
    font-variant: small-caps;
    margin:.8em;
    padding: .5em;
}
#navigation a:hover {
    background-color:#000000;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    font-weight:900;
}
#navigation h1 {
    font-size:3em;
    font-style: italic;
    margin-bottom:.6em;
    text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 white, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background: url('https://www.itl.cat/pngfile/big/152-1520063_storm-cloud-desktop-wallpaper-storm-cloud-pictures.jpg');
    padding:1em;
}
/* intro */

#intro {
    background-color: rgba(232, 238, 255, 0.555);
    border: 1px solid white;
    float:center;
    height: fit-content;
    margin-top: 1em;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
    vertical-align: middle;
    width:fit-content;
}
#intro h2 {
    font-size: 2em;
    font-weight: 102%;
    padding-top: 2em;
    text-shadow: 1.5px 1px 2.5px white;
}
#selfie {
    border-radius: 50%;
    float: left;
    height: 250px;
    padding: 2em;
    width: 250px;
}

/* flexgrid stuff */
.flex-grid {
    align-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: justify;
    margin-left:auto;
    margin-right:auto;
    width:80%;
  }

  .boxes {
    border:.2em solid white;
    color: rgb(56, 63, 150);
    margin:1em;
    max-width:15%;
    padding:.6em;
    text-align:center;
    background-color: rgba(113, 117, 141, 0.685);
}
.boxes img {
    max-height:100%;
    max-width:100%;
}

.boxes img:hover {
    box-shadow:  -2px -2px 2 whitesmoke, 1px -1px 0 white, -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
    filter: blur(2px); 
    transform: scale(1.1);
    overflow: none;
}

footer {
    display:flex;
    align-items:center;

}
#GitHub {
    background-color:rgb(0, 0, 0);
    border: 1px solid #467bdd;
    color:rgb(107, 138, 223);
    font-weight: 450;
    font-variant: small-caps;
    margin-left:auto;
    margin-right:auto;
    margin-top:1.5em;
    margin-bottom:1.5em;
    padding: .5em;
}

#GitHub:hover {
    background-color: rgb(107, 138, 223);
    color: black;
    font-weight:750
}

@media screen and (max-width: 800px) {

}
@media screen and (max-width: 500px) {

    .flex-grid {
        width:100%;
        margin: 2em 0em 0em 2em;
    }
    #box7 {
        display: none;
    }
    #box8 {
        display:none;
    }
    #selfie {
        width:180px;
        height:180px;
        padding:1em;
        float: top;
    }
    #intro {
        padding:1em;
    }
}
@media screen and (max-width: 360px) {

}
@media screen and (max-width: 1366px) {

}
@media screen and (max-width: 1920px) {

}

